  <!-- ======= Footer ======= -->
  <footer id="footer" style="margin-top: 250px;">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <div class="footer-info">
              <h3>Public Employment Service Office</h3>
              <p>
                1st Floor, Malvar Municipal Hall <br>
                San Pioquinto, Malvar Batangas <br>
                <strong>Phone:</strong> (043) 406 0330<br />
              </p>
              <div class="social-links mt-3">
                <a href="https://www.facebook.com/peso.malvarmunicipality" class="facebook" target="_blank"
                  ><i class="bx bxl-facebook"></i
                ></a>
              </div>
            </div>
          </div>

  </footer>
  <!-- End Footer -->