  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1><a href="/">PESO Malvar</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="{% static 'assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="{% url "ann-list" %}">Announcements</a></li>
          
          {% if user.role == 'employer' %} 
            <a href="{% url 'jobpost_list' %}" class="btn-get-started scrollto text-decoration-none">Hire Now</a>
          {% elif user.role == 'applicant'%} 
            <a href="{% url 'jobpost_list' %}" class="btn-get-started scrollto text-decoration-none">Apply Jobs</a>
          {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
        <div class="dropdown">
          <a href="#" class="text-decoration-none"> 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
          </a>
          <ul>
            <li>
              
              {% if user.role == "employer" %}
                <a class="nav-link scrollto" href="{% url 'employer_profile' %}" >Profile</a>
                <li><a class="nav-link scrollto" href="{% url 'logout' %}">Log out</a></li>
              {% elif user.role == 'applicant' %}
                <a class="nav-link scrollto" href="{% url 'applicant_profile' %}" >Profile</a>
                <li><a class="nav-link scrollto" href="{% url 'logout' %}">Log out</a></li>
              {% else %}
                <li><a class="nav-link scrollto" href="{% url 'login' %}">Log In</a></li>
              {% endif %}
            </li>
            
          </ul>
        </d>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->