{% load static %}
<nav
  class="navbar navbar-expand-lg navbar-light bg-light"
  style="font-size: 18px"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img
        src="{% static 'images/peso_logo.png' %}"
        alt=""
        width="40"
        height="40"
        class="d-inline-block align-text-top"
        style="border-radius: 50%"
      />
      PESO - Malvar
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {{active}}" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "ann-list" %}">Announcements Board</a>
        </li>
        {% comment %} <li class="nav-item">
          <a class="nav-link">Find Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Hire Talents</a>
        </li> {% endcomment %}
        <li class="nav-item">
          {% if user.is_authenticated %}
          <div class="btn-group mt-1">
            <button class="btn btn-secondary btn-sm dropdown-toggle text-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color:transparent" >
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>
            </button>
            <ul class="dropdown-menu" style="font-size: 12px;">
              {% if user.role == "employer" %}
                <li><a class="dropdown-item" href="{% url 'employer_profile' %}" >Profile</a></li>
              {% elif user.role == 'applicant' %}
                <li><a class="dropdown-item" href="{% url 'applicant_profile' %}" >Profile</a></li>
              {% endif %}
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
            </ul>
          </div>
         
          {% else %}
          <a href="{% url 'login' %}" class="mt-1 btn btn-outline-primary btn-sm">Log In</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>
