{% load static %}
<nav
  class="navbar navbar-expand-lg navbar-light bg-light"
  style="font-size: 18px"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img
        src="{% static 'images/peso_logo.png' %}"
        alt=""
        width="40"
        height="40"
        class="d-inline-block align-text-top"
        style="border-radius: 50%"
      />
      PESO - Malvar
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {{active}}" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "ann-list" %}">Announcements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Find Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Hire Talents</a>
        </li>
        <li class="nav-item">
          {% if user.is_authenticated %}
          <a href="{% url 'logout' %}" class="btn btn-outline-primary">Log Out</a>
          {% else %}
          <a href="{% url 'login' %}" class="btn btn-outline-primary">Log In</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>
